<div class="overall-container">
  <div class="header">
    Network Trace Excersize
  </div>
  <div class="sub-header">
    This exercise generates a network with {{nodeCount}} nodes, each with variable distances between them.
    Each node will only originally know the distance to direct connections with other nodes.
    Nodes will transmit their distance maps, iteratively determining the shortest distance between nodes.
    Click on Nodes to show the shortest path.
  </div>
  <div class="inputs">
    <mat-form-field class="network variables">
      <mat-label>Nodes</mat-label>
      <input matInput
             type="number"
             [formControl]="nodeCountFormControl"
             [(ngModel)]="nodeCount">
      <mat-error *ngIf="nodeCountFormControl.hasError('max') && !nodeCountFormControl.hasError('required')">
        For performance reasons, Node count is limited to 200 nodes.
      </mat-error>
    </mat-form-field>
    <div class="connection-complexity-container">
      <label id="complexity-label">Connection Complexity</label>
      <mat-slider
        class="connection-complexity"
        [max]="10"
        [min]="1"
        [step]="1"
        [(ngModel)]="maxDirectConnections"
        aria-labelledby="Connection complexity">
      </mat-slider>
    </div>
    <button mat-button color="primary"
            [disabled]="nodeCount >= maxNodes"
            (click)="addNode()">
      <mat-icon>add</mat-icon>
      Add Node
    </button>
    <button mat-stroked-button color="primary"
            [disabled]="nodeCount > maxNodes"
            (click)="redrawGraph()">
      <mat-icon>refresh</mat-icon>
      Redraw Graph
    </button>
  </div>
  <div class="nodes-container" *ngIf="showChart">
    <app-network-chart [nodes]="nodes" [addNode]="addNodeObs"></app-network-chart>
  </div>
  <div class="loading" *ngIf="!showChart">
    <mat-spinner></mat-spinner>
  </div>
</div>

