.overall-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: visible;
  flex-flow: row wrap;

}

#chartdiv {
  width: 100%;
  height: 400px;
  @media (min-width: 1200px) {
    height: 400px;
    width: 1000px;
  }
}

.trace {
  width: 200px;
  @media (min-width: 1200px) {
    height: 100%;
  }
  table {
    width: 100%;
    margin-top: 10px;
  }
}

.mat-column-from, .mat-column-to {
  width: 30px;
  padding-right: 5px;
}

.mat-column-distance {
  text-align: end;
}
