<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="navigation-icon"
          aria-label="dropdown button for navigation">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="external-links">
    <a mat-button mat-icon-button
       aria-label="Github profile external link"
       href="https://github.com/paulvmoreau"
       target="_blank">
      <fa-icon [icon]="faGitHub">
      </fa-icon>
    </a>
    <a mat-button mat-icon-button
       aria-label="LinkedIn profile external link"
       href="https://www.linkedin.com/in/paulvmoreau"
       target="_blank">
      <fa-icon [icon]="faLi">
      </fa-icon>
    </a>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon aria-hidden="true">home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item routerLink="/network">
    <mat-icon aria-hidden="true">language</mat-icon>
    <span>Network Trace</span>
  </button>
</mat-menu>
