mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: 12px;

  .contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
	text-decoration: none;
	mat-icon {
		font-size: 12px;
		height: 12px;
		width: 12px;
	}
    .content {
	  display: flex;
	  margin-left: 5px;
    }
  }
}
